In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import config

# Configure gmaps
gmaps.configure(api_key=config.api_key)

file = "speakeasies.csv"
df = pd.read_csv(file)
df.head()

,City,State,Name,Price,Rating,Reviews,Lat,Lng,Price(Scale)
0,New York,New York,Angel's Share,$$,4.5,1953,40.729710,-73.989149,2
1,New York,New York,Raines Law Room,$$$,4.5,1323,40.738690,-73.994620,3
2,New York,New York,Please Don't Tell,$$$,4.0,1628,40.727098,-73.983763,3
3,New York,New York,Patent Pending,$$$,4.0,102,40.745260,-73.990320,3
4,New York,New York,Attaboy,$$$,4.0,457,40.718887,-73.991335,3

In [2]:
# Store latitude and longitude in locations
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
ratings = df["Rating"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=ratings, 
                                 dissipating=False, max_intensity=1,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))